# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/

# Virtual Environment
venv/
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Flask
instance/

# Docker
*.pid

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Migrations cache
migrations/__pycache__/

# Swap files
*.swp
coverage.xml
htmlcov/

# Python cache
__pycache__/
*.py[cod]

# SonarQube
.scannerwork/
